<h1>Listing Pins</h1>

<div id="container">

  <%= link_to 'New Pin', new_pin_path %>



  <% @pins.each do |pin| %>

  <div class="item" style="width: 25%">
    <div class="img-thumbnail">
      <%= pin.name %>
      <img src="<%= pin.photo %>" class="card-img-top img-thumbnail" alt="Card image cap">

      <%= pin.description %>

      <div class="buttons" style="margin-top: 10px; margin-bottom:10px">
        <%= link_to 'Show', pin, :class => 'btn' %>
        
      
      </div>
    </div>
  </div>
  <% end %>
  <br>
  <% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path %>
  <% end %>

</div>

<script type="text/javascript">
 var $container = $('#container');
  //initialize
  $container.masonry({
    columnWidth:200,
    itemSelector: '.item'
  });
 $(window).load(function(){
  var $container = $('#container');
  $container.masonry({
    columnWidth:200,
    itemSelector: '.item'
  });
})
</script>